body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(210, 253, 255);
    color: rgb(23, 23, 24);
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(80, 156, 228);
    color: rgb(107, 233, 255);
    padding: 50px;
    text-align: center;
}

header h1{
    margin:0;
    font-size: 50px;
}
header p{
    margin:0;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: aqua;
    padding: 15px;
    margin:0;
}